*{
  text-align: center;
}
body{
  height: 100dvh;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
  background: blue;
}
h1{
  font-size: 3em;
}
p{
  font-size: 1em
}
a{
  color: white;
  color: inherit;
  border: .5em solid white;
  padding: .5em;
  border-radius: 50%
}
