*{
  text-align: center;
}
body{
  height: 100dvh;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
  background: blue;
}
h1{
  font-size: 4em;
}
p{
  font-size: 1em
}
a{
  color: white;
  color: inherit;
  offset: .5em currentColor;
  padding: .5em;
}
